<html>
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="642291288733-7ssfreo4g50q9i3cfpj4l9n8391nctph.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div>Intuitive Web Solutions
      {% if current_user.is_authenticated %}
                  <h2>Hi, {{ current_user.nickname }}!</h2>
                  <p><a href="{{ url_for('logout') }}">Logout</a></p>
      {% endif %}
    </div>
    <hr>

    {% block content %}{% endblock %}
  </body>
</html>
