<div class="home-title-container">
<h1 class="page-title home">Requested Features</h1>
</div>
<div data-bind="if: loading().length > 0">
  <h2>Loading...</h2>
</div>
<!-- ko if: loading().length == 0 -->
<div data-bind="if: features().length <= 0">
  <h2>Click <a href="#" data-bind="click: onAddFeature">here</a> to start adding features!</h2>
</div>
<!-- /ko -->
<div class="features" data-bind="foreach: features">
  <div class="feature">
    <div class="row title">
        <div class="col-md-3 username" data-bind="text: user_name"></div>
        <div class="col-md-6 feature-title" data-bind="text: title"></div>
        <div class="col-md-3 priority"><p>Priority: <span data-bind="text: priority"></span></p></div>
    </div>
    <div class="row details">
        <div class="col-md-4 client" data-bind="text: client_name"></div>
        <div class="col-md-4 product" data-bind="text: product_name"></div>
        <div class="col-md-4 target-date" data-bind="text: target_date"></div>
    </div>
    <div class="row description">
        <div class="col-md-12 description" data-bind="text: description"></div>
    </div>
    <div class="row feature-buttons">
      <div class="col-md-4"><button class="btn btn-primary" data-bind="click: $parent.onEditFeature">Edit Feature</button></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"><button class="btn btn-danger" data-bind="click:$parent.onDeleteFeature">Delete Feature</button></div>
    </div>
  </div>
</div>
