<div id=login>
  <h2>Log in to access features</h2>
  <form data-bind="event: {submit: onSubmit}" class="login-form">
    <div class="form-group">
      <label> Email </label>
      <input data-bind="value: email" class="form-control" type="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label> Password </label>
      <input data-bind="value: password" type="password" class="form-control" name="password" placeholder="Enter password">
    </div>
    <input type="submit" value="submit" class="btn btn-primary">
    <p><a data-bind="click: onRegisterClick" href="#">Register</a></p>
  </form>
  <div id="google-button">
  </div>
</div>
