<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="642291288733-7ssfreo4g50q9i3cfpj4l9n8391nctph.apps.googleusercontent.com">

<form data-bind="event: {submit: onSubmit}">
  <label>Full Name </label>
  <input data-bind="value: fullname" type="text" name="fullname" placeholder="Please enter your full name">
  <label> Email </label>
  <input data-bind="value: email" type="email" name="email" placeholder="Enter email">
  <label> Password </label>
  <input data-bind="value: password" type="password" name="password" placeholder="Enter password">
  <input type="submit" value="submit">
</form>
